* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-div
{
    --grid-size: 16;

    display: flex;
    flex-wrap: wrap;
    width: min(80vw, 640px);
    aspect-ratio: 1;
}

.grid-item
{
    flex: 0 0 calc(100% / var(--grid-size));
    height: calc(100% / var(--grid-size));
    border: 1px solid #c4b5b5;
    background-color: white;
}